@use "variables";

.result {
  padding: 140px 0 91px;
  text-align: center;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    position: absolute;
    top: 225px;
    z-index: -1;
  }
  &__title {
    max-width: 588px;
    margin-bottom: 60px;
  }
  &__score {
    background: url("/static/images/result-circle.png") center center / cover no-repeat;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 158px;
    color: variables.$result-text-color;
    font-family: "Museo Sans Cyrl Bold",sans-serif;
    line-height: 190px;
  }
  &-link {
    margin-top: 80px;
    width: 100%;
  }
}