<section class="test">
	<div class="container">
		<div class="test-pre-title pre-title" id="pre-title"></div>
		<div class="test__progress-bar" id="progress-bar">
		</div>
		<div class="test__question">
			<div class="test__question-title title common-title" id="title"></div>
			<div class="test__question-options" id="options"></div>
		</div>
		<div class="test__actions">
			<div class="test__actions-previous">
				<button class="button button-transparent test-btn" disabled id="prev">Назад</button>
			</div>

			<div class="test__actions-time">
				<div class="test__actions-text">Осталось времени:</div>
				<div class="test__actions-clock" id="timer"></div>
			</div>
			<div class="test__actions-next">
				<button class="button button-transparent test-btn" disabled id="next">Дальше</button>
			</div>
		</div>
		<div class="test__pass-question link-arrow">
			<a href="javascript:void(0)" id="pass" class="pass-link">Пропустить вопрос <img src="static/images/arrow-question.png" alt="arrow" id="link-arrow-img"></a>
		</div>
	</div>
</section>