.choice {
  padding: 180px 0 227px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 583px;

    &-description {
      margin-top: 40px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__options {
    margin-top: 60px;
  }

  &__option {
    border: 1px solid $input-border-color;
    background: #fff;
    padding: 26px 70px 26px 40px;
    box-sizing: border-box;
    width: 583px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    position: relative;
    transition: all .2s ease;

    &-arrow {
      position: absolute;
      right: 40px;
      top: 26px;
      display: none;
    }

    &:hover .choice__option-arrow {

      display: block;

    }
    &:hover {
      border-left: 5px solid $focus-border-color;
      color: $accent-text-color;
      font-family: "Museo Sans Cyrl Bold", sans-serif;
    }
  }
}