body {
  font-family: "Museo Sans Cyrl", sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

h1 {
  margin: 0;
}

a {
  color: $link-text-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
  border-bottom: 1px solid $header-border;
}

.title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  span {
    color: $accent-text-color;
  }
}

.big-title {
  font-size: 54px;
  line-height: 65px;
}

.common-title {
  font-size: 48px;
  line-height: 58px;
}

.button:hover {
  background: $accent-btn-hover;
}

.button {
  padding: 14px 35px;
  border-radius: 6px;
  background: $accent-btn-color;
  font-size: 17px;
  color: $btn-text-color;
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none;
  &:disabled {
    background-color: $disabled-btn;
    cursor: not-allowed;
  }
}

a {
  &.button {
    display: inline-block;
  }
}

.button-transparent:hover {
  background: $accent-btn-color;
  color: $btn-text-color;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid $accent-btn-color;
  color: $accent-text-color;
  &:disabled {
    background-color: transparent;
    border: 1px solid $disabled-btn;
    color: $disabled-btn;
  }
}


.footer {
  padding: 40px 0;
  text-align: center;
  color: $footer-text-color;
  font-size: 13px;
}
