.form {
  padding: 140px 0 122px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    max-width: 504px;
  }

  &__details {
    margin-top: 60px;
    max-width: 487px;

    &-agree {
      margin-top: 15px;

      input {
        position: relative;
        top: 1px;
      }

      input, label {
        cursor: pointer;
      }
    }

    &-group {
      border: 1px solid $input-border-color;
      background: #fff;
      padding: 13px 23px;
      width: 485px;
      height: 74px;
      box-sizing: border-box;
      position: relative;
      transition: all .2s ease;
      &:focus-within {
        border-left: 5px solid $focus-border-color;
      }
    }
  }

  &__actions {
    margin-top: 60px;
  }

  &-input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 18px;
    color: $accent-text-color;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    line-height: 22px;

    &:focus ~ .form-label,
    &:not(:focus):valid ~ .form-label {
      top: 12px;
    }
    &:valid, &:focus {
      margin-top: 27px;
      height: auto;
    }
  }

  &-label {
    font-size: 18px;
    color: $text-color;
    line-height: 22px;
    position: absolute;
    left: 23px;
    top: 26px;
    transition: all .2s ease;
  }
  &__button {
    &:disabled {
      &:hover {
        background-color: $disabled-btn;
      }
    }
  }
}