<section class="answers">
	<div class="container">
		<div class="pre-title-wrapper">
			<div class="pre-title">
				Результат прохождения теста
			</div>
			<img src="static/images/arrow-question-grey.png" alt="arrow">
			<div class="pre-title_accent" id="test-level">Тест №1. “JavaScript: Начальный уровень”</div>
		</div>

		<h1 class="answers__title title big-title">
			<span>Правильные ответы</span> к тесту
		</h1>
		<div class="answers__user">Тест выполнил <span class="answers__user-data" id="user-data">Роман Чернов, roman@itlogia.ru</span>
		</div>
		<div class="answers__questions-wrap" id="answers-wrapper">
		</div>
		<div class="answers__link link-arrow">
			<a href="javascript:void(0)">Обратно к моему результату теста
				<img src="static/images/arrow-question.png" alt="arrow">
			</a>
		</div>
	</div>
</section>
