<section class="choice">
	<div class="container">
	<div class="choice__content">
		<h1 class="title choice__title common-title">
			Выберите <span>тему теста</span>
		</h1>
		<div class="choice__content-description">
			Чтобы начать тест, выберите одну из предложенных ниже тем.
		</div>
		<div class="choice__options" id="choiceOptions">
		</div>
	</div>
	<div class="choice__images">
		<img src="static/images/choice-image.png" alt="choice image" class="choice__images-img">
	</div>
	</div>
</section>
