<section class="main">
	<div class="container">
		<div class="main__content">
			<h1 class="main__content-title title big-title">
				Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!
			</h1>
			<div class="main__content-description">
				Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
			</div>
			<div class="main__action">
				<a href="#/signup" class="main__button button">Начать тест</a>
			</div>
		</div>
		<div class="main__image">
			<img class="main__image-img" src="static/images/main-image.png" alt="main image">
		</div>
	</div>
</section>
