$header-border: #DCDCF3;
$text-color: #333333;
$accent-text-color: #6933DC;
$link-text-color: #6933DC;
$btn-text-color: #fff;
$result-text-color: #fff;
$accent-btn-color: #6933DC;
$accent-btn-hover: #4d1cb2;
$footer-text-color: #DCDCF3;
$input-border-color: #C1BBBB;
$focus-border-color: #6933DC;
$text_pre-title: #DCDCF3;
$border-radio: #6933DC;
$default-circle: #DCDCF3;
$complete: #6933DC;
$disabled-btn: #e2dfe7;
$disabled-link: #e2dfe7;
$try-color: #5FDC33;
$false-color: #DC3333;